node_modules
.vscode/**/*
!.vscode/settings.json.default

/infrastructure/*.js
/infrastructure/!jest.config.js
/infrastructure/*.d.ts
/infrastructure/node_modules
/infrastructure/.cdk.staging
/infrastructure/cdk.out

/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.DS_Store
/frontend/*.pem
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*
/frontend/.env*.local
/frontend/.vercel
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts