@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-1: 136deg 50% 98.9%;
    --brand-2: 138deg 62.5% 96.9%;
    --brand-3: 139deg 55.2% 94.5%;
    --brand-4: 140deg 48.7% 91%;
    --brand-5: 141deg 43.7% 86%;
    --brand-6: 143deg 40.3% 79%;
    --brand-7: 146deg 38.5% 69%;
    --brand-8: 151deg 40.2% 54.1%;
    --brand-9: 151deg 55% 41.5%;
    --brand-10: 152deg 57.5% 37.6%;
    --brand-11: 153deg 67% 28.5%;
    --brand-12: 155deg 40% 14%;

    --accent-1: 255deg 65% 99.4%;
    --accent-2: 252deg 100% 99%;
    --accent-3: 252deg 96.9% 97.4%;
    --accent-4: 252deg 91.5% 95.5%;
    --accent-5: 252deg 85.1% 93%;
    --accent-6: 252deg 77.8% 89.4%;
    --accent-7: 252deg 71% 83.7%;
    --accent-8: 252deg 68.6% 76.3%;
    --accent-9: 252deg 56% 57.5%;
    --accent-10: 251deg 48.1% 53.5%;
    --accent-11: 250deg 43% 48%;
    --accent-12: 254deg 60% 18.5%;

    --neutral-0: 0deg 0% 100%;
    --neutral-1: 155deg 30% 98.8%;
    --neutral-2: 150deg 16.7% 97.6%;
    --neutral-3: 151deg 10.6% 95.2%;
    --neutral-4: 151deg 8.8% 93%;
    --neutral-5: 151deg 7.8% 90.8%;
    --neutral-6: 152deg 7.2% 88.4%;
    --neutral-7: 153deg 6.7% 85.3%;
    --neutral-8: 154deg 6.1% 77.5%;
    --neutral-9: 155deg 3.5% 55.5%;
    --neutral-10: 154deg 2.8% 51.7%;
    --neutral-11: 155deg 3% 43%;
    --neutral-12: 155deg 24% 9%;
    --neutral-13: 0deg 0% 0%;

    --gray-0: 0deg 0% 100%;
    --gray-1: 0deg 0% 99%;
    --gray-2: 0deg 0% 97.3%;
    --gray-3: 0deg 0% 95.1%;
    --gray-4: 0deg 0% 93%;
    --gray-5: 0deg 0% 90.9%;
    --gray-6: 0deg 0% 88.7%;
    --gray-7: 0deg 0% 85.8%;
    --gray-8: 0deg 0% 78%;
    --gray-9: 0deg 0% 56.1%;
    --gray-10: 0deg 0% 52.3%;
    --gray-11: 0deg 0% 43.5%;
    --gray-12: 0deg 0% 9%;
    --gray-13: 0deg 0% 0%;

    --success-1: 116deg 50% 98.9%;
    --success-2: 120deg 60% 97.1%;
    --success-3: 120deg 53.6% 94.8%;
    --success-4: 121deg 47.5% 91.4%;
    --success-5: 122deg 42.6% 86.5%;
    --success-6: 124deg 39% 79.7%;
    --success-7: 126deg 37.1% 70.2%;
    --success-8: 131deg 38.1% 56.3%;
    --success-9: 131deg 41% 46.5%;
    --success-10: 132deg 43.1% 42.2%;
    --success-11: 133deg 50% 32.5%;
    --success-12: 130deg 30% 14.9%;

    --info-1: 193deg 100% 98.8%;
    --info-2: 193deg 100% 97.3%;
    --info-3: 193deg 99% 94.7%;
    --info-4: 193deg 91.4% 91.4%;
    --info-5: 194deg 82% 86.6%;
    --info-6: 194deg 74.1% 79.5%;
    --info-7: 194deg 72.3% 69.6%;
    --info-8: 193deg 77.9% 53.9%;
    --info-9: 193deg 98% 70%;
    --info-10: 193deg 87% 66.5%;
    --info-11: 195deg 100% 31.5%;
    --info-12: 195deg 100% 13%;

    --warning-1: 24deg 70% 99%;
    --warning-2: 24deg 83.3% 97.6%;
    --warning-3: 24deg 100% 95.3%;
    --warning-4: 25deg 100% 92.2%;
    --warning-5: 25deg 100% 88.2%;
    --warning-6: 25deg 100% 82.8%;
    --warning-7: 24deg 100% 75.3%;
    --warning-8: 24deg 94.5% 64.3%;
    --warning-9: 24deg 94% 50%;
    --warning-10: 24deg 100% 46.5%;
    --warning-11: 24deg 100% 37%;
    --warning-12: 15deg 60% 17%;

    --danger-1: 359deg 100% 99.4%;
    --danger-2: 359deg 100% 98.6%;
    --danger-3: 360deg 100% 96.8%;
    --danger-4: 360deg 97.9% 94.8%;
    --danger-5: 360deg 90.2% 91.9%;
    --danger-6: 360deg 81.7% 87.8%;
    --danger-7: 359deg 74.2% 81.7%;
    --danger-8: 359deg 69.5% 74.3%;
    --danger-9: 358deg 75% 59%;
    --danger-10: 358deg 69.4% 55.2%;
    --danger-11: 358deg 65% 48.7%;
    --danger-12: 354deg 50% 14.6%;

    --neutralA-1: 150deg, 92.6%, 26.5%, 0.016;
    --neutralA-2: 150deg, 87.7%, 16%, 0.028;
    --neutralA-3: 160deg, 98.4%, 10.9%, 0.055;
    --neutralA-4: 140deg, 92.3%, 8.5%, 0.075;
    --neutralA-5: 160deg, 86%, 6.9%, 0.099;
    --neutralA-6: 156deg, 95.1%, 8.2%, 0.126;
    --neutralA-7: 156deg, 98.6%, 6.3%, 0.157;
    --neutralA-8: 154deg, 94.6%, 6%, 0.24;
    --neutralA-9: 154deg, 98.7%, 3%, 0.459;
    --neutralA-10: 154deg, 93.5%, 2.9%, 0.499;
    --neutralA-11: 154deg, 95.2%, 2.5%, 0.585;
    --neutralA-12: 158deg, 97%, 2.4%, 0.934;

    --grayA-1: 0, 0%, 0%, 0.012;
    --grayA-2: 0, 0%, 0%, 0.027;
    --grayA-3: 0, 0%, 0%, 0.047;
    --grayA-4: 0, 0%, 0%, 0.071;
    --grayA-5: 0, 0%, 0%, 0.09;
    --grayA-6: 0, 0%, 0%, 0.114;
    --grayA-7: 0, 0%, 0%, 0.141;
    --grayA-8: 0, 0%, 0%, 0.22;
    --grayA-9: 0, 0%, 0%, 0.439;
    --grayA-10: 0, 0%, 0%, 0.478;
    --grayA-11: 0, 0%, 0%, 0.565;
    --grayA-12: 0, 0%, 0%, 0.91;

    --background: var(--neutral-1);
    --foreground: var(--neutral-12);

    --muted: var(--neutral-3);
    --muted-foreground: var(--neutral-11);

    --popover: var(--neutral-1);
    --popover-foreground: var(--neutral-12);

    --card: var(--neutral-1);
    --card-foreground: var(--neutral-12);

    --border: var(--gray-7);
    --input: var(--gray-7);

    --primary: var(--brand-9);
    --primary-foreground: 0deg 0% 100%;

    --secondary: var(--neutral-9);
    --secondary-foreground: 0deg 0% 100%;

    --accent: var(--brand-3);
    --accent-foreground: var(--brand-12);

    --destructive: var(--danger-9);
    --destructive-foreground: 0deg 0% 100%;

    --ring: var(--brand-7);

    --radius: 0.5rem;
  }

  .dark {
    --brand-1: 146deg 30% 7.4%;
    --brand-2: 155deg 44.2% 8.4%;
    --brand-3: 155deg 46.7% 10.9%;
    --brand-4: 154deg 48.4% 12.9%;
    --brand-5: 154deg 49.7% 14.9%;
    --brand-6: 154deg 50.9% 17.6%;
    --brand-7: 153deg 51.8% 21.8%;
    --brand-8: 151deg 51.7% 28.4%;
    --brand-9: 151deg 55% 41.5%;
    --brand-10: 151deg 49.3% 46.5%;
    --brand-11: 151deg 50% 53.2%;
    --brand-12: 137deg 72% 94%;

    --accent-1: 250deg 20% 10.2%;
    --accent-2: 255deg 30.3% 12.9%;
    --accent-3: 253deg 37% 18.4%;
    --accent-4: 252deg 40.1% 22.5%;
    --accent-5: 252deg 42.2% 26.2%;
    --accent-6: 251deg 44.3% 31.1%;
    --accent-7: 250deg 46.8% 38.9%;
    --accent-8: 250deg 51.8% 51.2%;
    --accent-9: 252deg 56% 57.5%;
    --accent-10: 251deg 63.2% 63.2%;
    --accent-11: 250deg 95% 76.8%;
    --accent-12: 252deg 87% 96.4%;

    --neutral-1: 0deg 0% 0%;
    --neutral-1: 155deg 7% 8.4%;
    --neutral-2: 150deg 7.4% 10.6%;
    --neutral-3: 150deg 6.7% 13.1%;
    --neutral-4: 150deg 6.4% 15.3%;
    --neutral-5: 150deg 6.1% 17.4%;
    --neutral-6: 150deg 5.8% 19.9%;
    --neutral-7: 150deg 5.5% 23.6%;
    --neutral-8: 150deg 5.1% 30.6%;
    --neutral-9: 155deg 6% 42.5%;
    --neutral-10: 153deg 4.8% 48.2%;
    --neutral-11: 155deg 5% 61.8%;
    --neutral-12: 155deg 6% 93%;
    --neutral-13: 0deg 0% 100%;

    --gray-0: 0deg 0% 0%;
    --gray-1: 0deg 0% 8.5%;
    --gray-2: 0deg 0% 11%;
    --gray-3: 0deg 0% 13.6%;
    --gray-4: 0deg 0% 15.8%;
    --gray-5: 0deg 0% 17.9%;
    --gray-6: 0deg 0% 20.5%;
    --gray-7: 0deg 0% 24.3%;
    --gray-8: 0deg 0% 31.2%;
    --gray-9: 0deg 0% 43.9%;
    --gray-10: 0deg 0% 49.4%;
    --gray-11: 0deg 0% 62.8%;
    --gray-12: 0deg 0% 93%;
    --gray-13: 0deg 0% 100%;

    --success-1: 146 30% 7.4%;
    --success-2: 136 33.3% 8.8%;
    --success-3: 137 36% 11.4%;
    --success-4: 137 37.6% 13.7%;
    --success-5: 136 38.7% 16%;
    --success-6: 135 39.6% 19.1%;
    --success-7: 134 40.3% 23.8%;
    --success-8: 131 40.1% 30.8%;
    --success-9: 131 41% 46.5%;
    --success-10: 131 39% 52.1%;
    --success-11: 131 43% 57.2%;
    --success-12: 137 72% 94%;

    --info-1: 205deg 45% 8.6%;
    --info-2: 202deg 71.4% 9.6%;
    --info-3: 201deg 74.6% 12.2%;
    --info-4: 201deg 77.4% 14.4%;
    --info-5: 200deg 80.3% 16.5%;
    --info-6: 200deg 84.1% 18.9%;
    --info-7: 199deg 90.2% 22.1%;
    --info-8: 198deg 100% 26.1%;
    --info-9: 193deg 98% 70%;
    --info-10: 192deg 100% 77%;
    --info-11: 192deg 85% 55.8%;
    --info-12: 198deg 98% 95.8%;

    --warning-1: 30deg 70% 7.2%;
    --warning-2: 28deg 100% 8.4%;
    --warning-3: 26deg 91.1% 11.6%;
    --warning-4: 25deg 88.3% 14.1%;
    --warning-5: 24deg 87.6% 16.6%;
    --warning-6: 24deg 88.6% 19.8%;
    --warning-7: 24deg 92.4% 24%;
    --warning-8: 25deg 100% 29%;
    --warning-9: 24deg 94% 50%;
    --warning-10: 24deg 100% 58.5%;
    --warning-11: 24deg 100% 62.2%;
    --warning-12: 24deg 97% 93.2%;

    --danger-1: 353deg 23% 9.8%;
    --danger-2: 357deg 34.4% 12%;
    --danger-3: 356deg 43.4% 16.4%;
    --danger-4: 356deg 47.6% 19.2%;
    --danger-5: 356deg 51.1% 21.9%;
    --danger-6: 356deg 55.2% 25.9%;
    --danger-7: 357deg 60.2% 31.8%;
    --danger-8: 358deg 65% 40.4%;
    --danger-9: 358deg 75% 59%;
    --danger-10: 358deg 85.3% 64%;
    --danger-11: 358deg 100% 69.5%;
    --danger-12: 351deg 89% 96%;

    --neutralA-1: 0deg, 0%, 0%, 0;
    --neutralA-2: 123deg, 94.4%, 91.4%, 0.026;
    --neutralA-3: 123deg, 82.9%, 91%, 0.057;
    --neutralA-4: 124deg, 97.9%, 94.5%, 0.082;
    --neutralA-5: 125deg, 90%, 95.2%, 0.104;
    --neutralA-6: 142deg, 95.1%, 94.8%, 0.134;
    --neutralA-7: 143deg, 92.8%, 95.7%, 0.173;
    --neutralA-8: 146deg, 94.7%, 95.3%, 0.255;
    --neutralA-9: 151deg, 98.2%, 94.4%, 0.397;
    --neutralA-10: 148deg, 99.5%, 95.5%, 0.457;
    --neutralA-11: 152deg, 95.1%, 97.3%, 0.6;
    --neutralA-12: 149deg, 93.3%, 99.6%, 0.927;

    --grayA-1: 0, 0%, 100%, 0;
    --grayA-2: 0, 0%, 100%, 0.026;
    --grayA-3: 0, 0%, 100%, 0.056;
    --grayA-4: 0, 0%, 100%, 0.077;
    --grayA-5: 0, 0%, 100%, 0.103;
    --grayA-6: 0, 0%, 100%, 0.129;
    --grayA-7: 0, 0%, 100%, 0.172;
    --grayA-8: 0, 0%, 100%, 0.249;
    --grayA-9: 0, 0%, 100%, 0.386;
    --grayA-10: 0, 0%, 100%, 0.446;
    --grayA-11: 0, 0%, 100%, 0.592;
    --grayA-12: 0, 0%, 100%, 0.923;

    --background: var(--neutral-1);
    --foreground: var(--neutral-12);

    --muted: var(--neutral-3);
    --muted-foreground: var(--neutral-11);

    --popover: var(--neutral-1);
    --popover-foreground: var(--neutral-12);

    --card: var(--neutral-1);
    --card-foreground: var(--neutral-12);

    --border: var(--gray-7);
    --input: var(--gray-7);

    --primary: var(--brand-9);
    --primary-foreground: 0deg 0% 100%;

    --secondary: var(--neutral-9);
    --secondary-foreground: 0deg 0% 100%;

    --accent: var(--brand-3);
    --accent-foreground: var(--brand-12);

    --destructive: var(--danger-9);
    --destructive-foreground: 0deg 0% 100%;

    --ring: var(--brand-7);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .default-focus {
    @apply outline-none ring-2 ring-brand-7;
  }
}
